.race {
  width: 150px;
  height: 45px;
}
.racedisplay {
  width: 800px;
  position: relative;
  bottom: 450px;
  left: 250px;
}
.subrace {
  width: 150px;
  height: 45px;
  position: relative;
  bottom: 400px;
  left: 500px;
}
.subracedisplay {
  width: 800px;
  position: relative;
  bottom: 450px;
  left: 250px;
}
.abilityscore {
  width: 150px;
  height: 35px;
}
.abilityscoredisplay {
  width: 800px;
  position: relative;
  bottom: 200px;
  left: 250px;
}
.class {
  width: 150px;
  height: 35px;
}
.classdisplay {
  width: 800px;
  position: relative;
  bottom: 450px;
  left: 250px;
}
.backgroundlist {
  width: 150px;
  height: 35px;
}
.alignment {
  width: 150px;
  height: 40px;
}
.alignmentdisplay {
  width: 800px;
  position: relative;
  bottom: 350px;
  left: 300px;
}
.skills {
  width: 150px;
  height: 35px;
}
.skillsdisplay {
  width: 800px;
  position: relative;
  bottom: 650px;
  left: 300px;
}
.feats {
  width: 150px;
  height: 35px;
}
.featsdisplay {
  width: 800px;
  position: relative;
  bottom: 100px;
  left: 250px;
}
