.background {
  background-color: rgb(51, 51, 51);
}
.word {
  color: white;
}
.race {
  width: 150px;
  height: 45px;
}
.racedisplay {
  width: 800px;
  position: relative;
  bottom: 450px;
  left: 250px;
  color: white;
}
.subrace {
  width: 150px;
  height: 45px;
  position: relative;
  bottom: 400px;
  left: 500px;
}
.subracedisplay {
  width: 800px;
  position: relative;
  bottom: 450px;
  left: 250px;
  color: white;
}
.abilityscore {
  width: 150px;
  height: 35px;
}
.abilityscoredisplay {
  width: 800px;
  position: relative;
  bottom: 200px;
  left: 250px;
  color: white;
}
.class {
  width: 150px;
  height: 35px;
}
.classdisplay {
  width: 800px;
  position: relative;
  bottom: 450px;
  left: 250px;
  color: white;
}
.backgroundlist {
  width: 150px;
  height: 35px;
}
.alignment {
  width: 150px;
  height: 40px;
}
.alignmentdisplay {
  width: 800px;
  position: relative;
  bottom: 350px;
  left: 300px;
  color: white;
}
.skills {
  width: 150px;
  height: 35px;
}
.skillsdisplay {
  width: 800px;
  position: relative;
  bottom: 650px;
  left: 300px;
  color: white;
}
.feats {
  width: 150px;
  height: 35px;
}
.featsdisplay {
  width: 800px;
  position: relative;
  bottom: 80px;
  left: 250px;
  color: white;
}
.spells {
  width: 180px;
  height: 35px;
}
.spelldisplay {
  width: 800px;
  position: relative;
  bottom: 11200px;
  left: 220px;
  color: white;
}
.conditions {
  width: 180px;
  height: 35px;
}
.conditiondisplay {
  width: 800px;
  position: relative;
  bottom: 530px;
  left: 220px;
  color: white;
}
.equipments {
  width: 220px;
  height: 35px;
}
.equipmentdisplay {
  width: 800px;
  position: relative;
  bottom: 8300px;
  left: 240px;
  color: white;
}
.damagetype {
  width: 200px;
  height: 35px;
}
.damagetypedisplay {
  width: 800px;
  position: relative;
  bottom: 450px;
  left: 240px;
  color: white;
}
.magicalequipment {
  width: 250px;
  height: 35px;
}
.magicalequipmentdisplay {
  width: 800px;
  position: relative;
  bottom: 12650px;
  left: 280px;
  color: white;
}
